@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main_card {
  display: flex;
  width: 920px;
  height: 500px;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
}
.card1 {
  width: 307px;
  height: 500px;
  padding: 48px;
  background-color: #e28625;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.card2 {
  width: 306px;
  height: 500px;
  background-color: #006971;
  padding: 48px;
}
.card3 {
  width: 307px;
  height: 500px;
  background-color: #004140;
  padding: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
p {
  color: white;
  opacity: 75%;
  width: 212px;
  height: 125px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 25px;
}
h2 {
  color: white;
  height: 48px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Big Shoulders", sans-serif;
  margin-top: 25px;
}
.card1 h2 {
  width: 99px;
}
.card2 h2 {
  width: 67px;
}
.card3 h2 {
  width: 95px;
}
button {
  background-color: white;
  border: none;
  font-size: 15px;
  font-weight: 400;
  margin-top: 70px;
  width: 146px;
  height: 48px;
  border-radius: 25px;
  font-family: "Lexend Deca", sans-serif;
}
.card1 button {
  color: #e28625;
}
.card2 button {
  color: #006971;
}
.card3 button {
  color: #004140;
}
